*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow:visible;
}
.page-action-cont {
    height: 3rem;
    background-color: #1B6F5D;
    display: flex;
    align-items: center;
    padding: 0.5rem;   
}
.page-action{
    margin: 0.5rem;
    color: #f1f2f6;
}
.cellproperty-action-cont {
    height: 3rem;
    background-color: #C2C3C4;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.material-icons{
    margin: 0.5rem;
}
.font-family{
    margin: 0.5rem;
    padding: 0.2rem;
    border: none;
    outline: none;
    border-radius: 3px;
}
.font-size{
    padding: 0.2rem;
    margin: 0.5rem;
    border: none;
    outline: none;
    border-radius: 3px;
}
.formula-action-cont {
    height: 2rem;
    background-color:#C2C3C4;
    display: flex;
    align-items: center;
}
.cell-address {
    outline: none;
    margin: 0.5rem;
    width: 9vw;
    height: 70%;
    border: none;
    text-align: center;
}
.formula-bar {
    width: calc(100vw - 9vw - 20px);
    height: 70%;
    margin: 0.5rem;
    border: none;
    outline: none;
}
.sheets-cont {
    height: 3rem;
    background-color: #C2C3C4;
    display: flex;
    align-items: center;
}
.sheets-folder {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    height: 75%;
    width: calc(100vw - 3rem);
    display: flex;
    align-items: center;    
}
.sheets {
    padding: 0.5rem;
    text-decoration: none;
}
.grid-cont {
    height: calc(100vh - 11rem);
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}
.dummy-cell {
    width: 2rem;
    height: 2rem;
    background-color:#999ba5 ;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.row-name-cont {
    position: sticky;
    top: 2rem;
    left: 0;
    width: 3rem;
    z-index: 4;
}
.cells-cont {
    position: absolute;
    top: 0%;
    left: 2rem;
}
.col-name-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
    background-color: white;
}
.row-name {
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid #dfe4ea;
    background-color: white;
    position: sticky;
    top:0;
}
.col-name {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}
.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    padding: 5px;
    outline: none;
}
.row-cont {
    display: flex;
}
.cell-color {
    position: relative;
}
.font-color {
    position: relative;
}
.cell-color-picker {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.font-color-picker {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
